# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCHA4BpFRVAudSej0vLnbmF9VIZnMX6OTA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=claude-living-internet.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://claude-living-internet-default-rtdb.firebaseio.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=claude-living-internet
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=claude-living-internet.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=215283055524
NEXT_PUBLIC_FIREBASE_APP_ID=1:215283055524:web:b06f59e4f8c9759ef91f31


# Gemini API (server-side only)
GEMINI_API_KEY=AIzaSyA2F2rzBsSIq5KqF3CdKzLjNkfPumQHnlE
